/*  Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Custom styles */

.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolButton {
    margin-top: 20px;
}

button.coolBtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h4.modal-title {
    margin: auto;
}

.modalWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btn-center {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
}

.footerImg {
    padding: 10px;
}

@media (max-width:992px) {
    */ .btn-center {
        width: 38%;
    }
}