/*  Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom styles */

.jumbotron {
    text-align: center;
    background: none;
}
.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}
.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}
.coolbutton {
    margin-top:20px;
}
button.coolbtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}